@model PhotoGalleryApp.ViewModels.EditPhotoViewModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section Main {
    <div style="max-width: 40vw; margin-inline: auto; margin-top: 50px">
        
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span>@TempData["Error"]</span>
                </div>
            }
            <input hidden value="Id" id="Id" />
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumCategory">Select Album</label>
                <select asp-for="AlbumCategory" asp-items="@Html.GetEnumSelectList<PhotoGalleryApp.Enums.AlbumName>()">
                    <option>--select--</option>
                </select>
                <span asp-validation-for="AlbumCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image">Choose photo</label>
                <input type="file" asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> }
