@{
    Layout = "_Gallery";
}

@section PageTitle {
    Walk in the Woods
}

@section Title {
    Walk in the Woods
}

@section headerImg {
    src=https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692527263/headerImg/cpyvohb2jyq7pioz1gym.jpg
}

@section Album1 {
    <a class="list__link" href="/gallery/macro">Closer Look</a>
}

@section Album2 {
    <a class="list__link" href="/gallery/wildlife">Keen Eyes</a>
}

@section Album3 {
    <a class="list__link" href="/gallery/winter">Frozen Lands</a>
}
