@model IEnumerable<Photo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walk in the Woods</title>
    <link rel="stylesheet" href="~/css/Gallery.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- HEADER -->
    <section>
        <div class="wrapper">
            <img class="wrapper__headerImg" src="https://firebasestorage.googleapis.com/v0/b/fotoappmg.appspot.com/o/albumHeaders%2Fforest-header.jpg?alt=media&token=af3ad318-2edf-4d32-90f0-05a85c872f08" alt="headerImg" />
            <h2 class="wrapper__title">
                Walk in the Forest
                <br />
                <span class="wrapper__divider">...............................</span>
            </h2>
        </div>
    </section>

    <!-- GALLERY -->
    <div class="gallery">
    @foreach (var item in Model)
    {
        <img src="@item.URL" class="gallery__img modal-target" alt="photo" />
    }
    </div>

    <!-- MODAL WINDOW -->
    <div id="modal" class="modal">
        <span id="modal-close" class="modal-close">&times;</span>
        <img id="modal-content" class="modal-content">
        <div id="modal-caption" class="modal-caption"></div>
    </div>

    <script src="~/js/Modal.js"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>

<!-- https://codepen.io/sinisag/pen/vPEajE-->
