
@{
    Layout = "_Gallery";
}

@section PageTitle {
    Closer Look
}

<!-- Album Title under logo -->
@section Title {
    Closer Look
}

<!-- Header Image -->
@section headerImg {
    src=https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692527262/headerImg/eje7yqngrbshf9zrirnx.jpg
}

<!-- Album Links -->
@section Album1 {
    <a class="list__link" href="/gallery/forest">Walk in the Woods</a>
}

@section Album2 {
    <a class="list__link" href="/gallery/wildlife">Keen Eyes</a>
}

@section Album3 {
    <a class="list__link" href="/gallery/winter">Frozen Lands</a>
}