
@{
    Layout = "_Gallery";
}

@section PageTitle {
    Frozen Lands
}

<!-- Album Title under logo -->
@section Title {
    Frozen Lands
}

<!-- Header Image -->
@section headerImg {
    src=https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692527262/headerImg/p2aa1dnthepq8o1uhioq.jpg
}

<!-- Album Links -->
@section Album1 {
    <a class="list__link" href="/gallery/forest">Walk in the Woods</a>
}

@section Album2 {
    <a class="list__link" href="/gallery/macro">Closer Look</a>
}

@section Album3 {
    <a class="list__link" href="/gallery/wildlife">Keen Eyes</a>
}

