@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miroslav Gombaský - Nature & Wildlife Photography</title>
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
</head>
<body>

    <section class="header">
        <img class="header__logo" src="https://firebasestorage.googleapis.com/v0/b/fotoappmg.appspot.com/o/logo.png?alt=media&token=f1745ca3-c04b-453a-99c8-4d61394f2c9b" alt="logo" />
        <h1 class="header__title">NATURE & WILDLIFE PHOTOGRAPHY</h1>
        <p class="header__scroll">scroll</p>
        <p class="header__arrow">↓</p>
    </section>

    <section class="albums">
        <div class="albums__card">
            <a href=/gallery/forest class="albums__link">
                <h4 class="albums__secTitle">portfolio</h4>
                <p class="albums__divider">..........</p>
                <h2 class="albums__mainTitle">Walk in the Woods</h2>
                <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/hoxugnxgh7cet754eq5k.jpg" alt="cover-art" />
            </a>
            <a href=/gallery/forest class="albums__btn">
                view Album
            </a>
        </div>
    </section>

    <section class="macro">
        <div class="albums">
            <div class="albums__card">
                <a href=/gallery/macro class="albums__link">
                    <h4 class="albums__secTitle">portfolio</h4>
                    <p class="albums__divider">..........</p>
                    <h2 class="albums__mainTitle">Closer Look</h2>
                    <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/neoq8dygjbdlgatndyjl.jpg" alt="cover-art" />
                </a>
                <a href=/gallery/macro class="albums__btn">
                    view Album
                </a>
            </div>
        </div>
    </section>

    <section class="albums eyes">
        <div class="albums__card">
            <a href=/gallery/wildlife class="albums__link">
                <h4 class="albums__secTitle">portfolio</h4>
                <p class="albums__divider">..........</p>
                <h2 class="albums__mainTitle">Keen Eyes</h2>
                <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/lgpkbpjlvwctsz1xhgxi.jpg" alt="cover-art" />
            </a>
            <a href=/gallery/wildlife class="albums__btn">
                view Album
            </a>
        </div>
    </section>

    <section class="winter">
        <div class="albums winter">
            <div class="albums__card">
                <a href=/gallery/winter class="albums__link">
                    <h4 class="albums__secTitle">portfolio</h4>
                    <p class="albums__divider">..........</p>
                    <h2 class="albums__mainTitle">Frozen lands</h2>
                    <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/eadfeixhdmvj5znx6bjx.jpg" alt="cover-art" />
                </a>
                <a href=/gallery/winter class="albums__btn">
                    view Album
                </a>
            </div>
        </div>
    </section>
</body>
</html>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>