@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miroslav Gombaský - Nature & Wildlife Photography</title>
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
</head>
<body>
    <div class="black-background">
        <section id="header" class="header" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1500">
            <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1000" data-aos-duration="1500" data-aos-offset="0">
                <img class="header__logo" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697360852/logo/nbhvsn7pmjzh5wumus1e.png" alt="logo" />
                <h1 class="header__title">NATURE & WILDLIFE PHOTOGRAPHY</h1>
                <p class="header__scroll">scroll</p>
                <p class="header__arrow">↓</p>
            </div>
        </section>
    </div>

    <section class="about" >
        <div class="about__wrapper" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="1500">
            <img class="about__img" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697360852/logo/nbhvsn7pmjzh5wumus1e.png" alt="logo" />          
            <h3 class="about__title">Nature and Wildlife Photography</h3>
            <p class="about__divider">..........</p>
            <h3 class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate id mauris id vehicula. Vivamus ultricies sagittis purus, at interdum nunc mattis at. Fusce enim neque, finibus sed elit eget, imperdiet luctus sem. Nam fermentum dui ligula, eu posuere nunc tristique vel. Fusce est arcu, rhoncus sit amet fermentum non, pulvinar non diam.</h3>
        </div>
    </section>

    <section class="albums">
        <div class="albums__card" data-aos="fade-left" data-aos-duration="1500">
            <a href=/gallery/forest class="albums__link">
                <h4 class="albums__secTitle">portfolio</h4>
                <p class="albums__divider">..........</p>
                <h2 class="albums__mainTitle">Walk in the Woods</h2>
                <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/hoxugnxgh7cet754eq5k.jpg" alt="cover-art" />
            </a>
            <a href=/gallery/forest class="albums__btn">
                view Album
            </a>
        </div>
    </section>

    <section class="macro">
        <div class="albums">
            <div class="albums__card" data-aos="fade-right" data-aos-duration="1500">
                <a href=/gallery/macro class="albums__link">
                    <h4 class="albums__secTitle">portfolio</h4>
                    <p class="albums__divider">..........</p>
                    <h2 class="albums__mainTitle">Closer Look</h2>
                    <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/neoq8dygjbdlgatndyjl.jpg" alt="cover-art" />
                </a>
                <a href=/gallery/macro class="albums__btn">
                    view Album
                </a>
            </div>
        </div>
    </section>

    <section class="albums eyes">
        <div class="albums__card" data-aos="fade-left" data-aos-duration="1500">
            <a href=/gallery/wildlife class="albums__link">
                <h4 class="albums__secTitle">portfolio</h4>
                <p class="albums__divider">..........</p>
                <h2 class="albums__mainTitle">Keen Eyes</h2>
                <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/lgpkbpjlvwctsz1xhgxi.jpg" alt="cover-art" />
            </a>
            <a href=/gallery/wildlife class="albums__btn">
                view Album
            </a>
        </div>
    </section>

    <section class="winter">
        <div class="albums winter">
            <div class="albums__card" data-aos="fade-right" data-aos-duration="1500">
                <a href=/gallery/winter class="albums__link">
                    <h4 class="albums__secTitle">portfolio</h4>
                    <p class="albums__divider">..........</p>
                    <h2 class="albums__mainTitle">Frozen lands</h2>
                    <img class="albums__cover" src="https://res.cloudinary.com/dfqrqfs3a/image/upload/v1692529857/albumCover/eadfeixhdmvj5znx6bjx.jpg" alt="cover-art" />
                </a>
                <a href=/gallery/winter class="albums__btn">
                    view Album
                </a>
            </div>
        </div>
    </section>

    <section class="footer">
        <a href="#header" class="footer__arrow">
            <i class="bi bi-arrow-up footer__icon"></i>
        </a>
    </section>
</body>
</html>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>