body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    background-color: #f2f2f2;
    max-width: 98vw;
    height: auto;
    margin: 0 auto;
}

.home {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 75px;

    &__img {
        border-radius: 50%;
        height: 75px;
        opacity: 0.7;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: 1;
            cursor: pointer;
            transform: scale(0.95);
        }
    }
}

.header {
    position: relative;
    box-sizing: border-box;
    max-width: 98vw;
    margin: 0 auto;
    top: 10px;

    &__headerImg {
        max-width: 100%;
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 8px;
        text-align: center;
        color: #777777;
    }

    &__divider {
        font-size: small;
        letter-spacing: normal;
    }
}

.list {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 40px;
    list-style: none;

    &__li {
        margin: 0 50px;
        font-size: small;
        letter-spacing: normal;
    }

    &__link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        color: #777777;
    }
}

.gallery {
    position: relative;
    box-sizing: border-box;
    max-width: 98vw;
    height: auto;
    margin: 0 auto;

    &__wrapper {       
        display: flex;
        flex-wrap:wrap;
        margin: 0 8%;     
    }

    &__img {
        max-width: 23%;
        max-height: 23%;
        width: auto;
        height: auto;
        margin: 2px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}



/////////////////MODAL//////////////////


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    //width: 80%;

    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;


    opacity: 1 !important;
    max-width: 1200px;
}

/* Caption of Modal Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
}

/* Add Animation */

.modal-content, .modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-atransform: scale(0.8)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.8)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}




/////////////////MEDIA QUERY//////////////////
@media only screen and (max-width: 1100px) {  
    .modal {
        padding-top: 20px;
    }
}


@media only screen and (max-width: 500px) {
    .modal {
        padding-top: 20px;
    }

    .list {
        &__li {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .gallery {
        &__img {
            max-width: 40vw;
        }
    }

    #modal-content {
        max-width: 90vw;
        margin-top: 150px;

    }
}