* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

.black-background {
    background-color: whitesmoke;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697357975/background/ne3gnkz4wktzuu7fvgps.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    color: wheat;
    text-align: center;

    &__logo {
        border-radius: 50%;
        height: 150px;
        opacity: 0.7;
        margin: 3em 0;
    }

    &__title {
        position: relative;
        margin-bottom: 4em;
        letter-spacing: 0.3em;
        font-size: 20px;
        font-weight: 400;
    }

    &__scroll {
        font-style: italic;
        margin-bottom: 0;
        opacity: 0.7;
    }

    &__arrow {
        margin-top: 1em;
        opacity: 0.7;
    }
}

////////////////////////////ABOUT////////////////////////////

.about {
    background-image: url(https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697358405/background/qfhrqnlpqdjbea47haat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    min-height: 100vh;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: whitesmoke;

    &__wrapper {
        max-width: 75vw;
        max-height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        max-height: 150px;
        max-width: 150px;
        border-radius: 50%;
        padding: 1rem;
    }

    &__title {
        padding: 0.5rem;
    }

    &__divider {
        padding: 0.5rem;
        opacity: 0.9;
    }

    &__text {
        padding: 0.5rem;
        opacity: 0.9;
    }
}


////////////////////////////SHARED + FOREST////////////////////////////
.albums {
    background-image: url(https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697357975/background/oel47y1npgxetbwupnmk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    min-height: 100vh;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Merriweather', serif;
    text-align: center;

    &__card {
        max-width: 25vw;
        height: 50vh;
        margin-right: 12vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        box-shadow: -1px 0px 29px -3px rgba(0,0,0,0.7);
        -webkit-box-shadow: -1px 0px 29px -3px rgba(0,0,0,0.7);
        -moz-box-shadow: -1px 0px 29px -3px rgba(0,0,0,0.7);
    }

    &__link {
        position: relative;
        bottom: 25px;
        margin: 0;
        text-decoration: none;
        text-align: center;
        color: #7a7a7a
    }

    &__secTitle {
        font-family: "montserrat",Sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin: 10px;
        color: #7a7a7a
    }

    &__divider {
        font-family: "montserrat",Sans-serif;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 2px;
        margin: 10px;
        color: #7a7a7a
    }

    &__mainTitle {
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 1.5px;
        margin: 10px;
        margin-bottom: 20px;
        color: #7a7a7a
    }

    &__cover {
        max-width: 60%;
        outline: rgba(255, 255, 255, 0.493) 2px solid;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(0.95);
        }
    }


    &__btn {
        max-width: 150px;
        margin-inline: auto;
        padding: 8px 15px;
        border: none;
        background-color: transparent;
        color: #7a7a7a;
        outline: rgba(255, 255, 255, 0.493) 2px solid;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    &__btn:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.493);
        background-color: rgb(42, 41, 41);
        transform: scale(0.95);
    }
}

////////////////////////////KEEN EYES////////////////////////////
.albums.eyes {
    background-image: url(https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697357975/background/xetwfoyequcbz5o8e8ju.jpg);
    align-items: flex-end;

    &__card {
        margin-left: 0;
        margin-right: 12vw;
    }
}

////////////////////////////FROZEN LANDS////////////////////////////
.winter
.albums {
    background-image: url(https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697357975/background/llbxxmfrjd7beek5ynoq.jpg);
    background-position: 50% 35%;
    align-items: flex-start;

    &__card {
        position: relative;
        margin-right: 0;
        margin-left: 12vw;
    }
}


////////////////////////////CLOSER LOOK//////////////////////////////////

.macro
.albums {
    background-image: url(https://res.cloudinary.com/dfqrqfs3a/image/upload/v1697357974/background/xka0xvo71s6wkhiczmgq.jpg);
    background-position: 50% 35%;
    align-items: flex-start;

    &__card {
        margin-right: 0;
        margin-left: 12vw;
    }

    &__secTitle {
        margin: 0;
    }

    &__mainTitle {
        margin-bottom: 10px;
    }
}


////////////////////////////FOOTER/////////////////////////////////
.footer {
    min-height: 10vh;
    margin-top: 1em;
    padding-right: 50px;
    background-color:darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;

    &__arrow {
        text-decoration: none;
        color: wheat;
        height: 39px;
        width: 32px;
    }

    &__icon {
        font-size: 32px;
    }
}

////////////////////////////MEDIA QUERY/////////////////////////////////

@media only screen and (max-width: 1100px) {
    .header{
        &__logo {
            height: 100px;
        }
    }
    
    .albums {
        &__card {
            width: 50vw;
            max-width: 50vw;
            max-height: 70vw;
            margin-right: 0;
            margin-inline: auto;
            padding-top: 20px;
        }

        &__divider {
            margin: 0;
        }

        &__mainTitle {
            margin: 0 10px 0 10px;
        }

        &__cover {
            display: none;
        }

        &__btn {
            display: none;
        }
    }

    .macro
    .albums {
        &__card {
            width: 50vw;
            max-width: 50vw;
            max-height: 70vw;
            margin-right: 0;
            margin-inline: auto;
            padding-top: 20px;
        }
    }

    .winter
    .albums {
        &__card {
            width: 50vw;
            max-width: 50vw;
            max-height: 70vw;
            margin-right: 0;
            margin-inline: auto;
            padding-top: 20px;
        }
    }

    .footer {
        justify-content: center;
        padding-right: 0;
    }
}



    @media only screen and (max-width: 500px) {
        .header__logo {
            height: 100px;
        }

        .albums {
            &__card {
                max-width: 70vw;
                width: 70vw;
                max-height: 40vh;
                padding: 20px;
                margin-right: 0;
                margin-inline: auto;
            }

            &__secTitle {
                margin-top: 20px;
            }

            &_mainTitle {
                margin: 10px;
            }

            &__cover {
                display:inherit;
                margin-inline: auto;

            }

            &__btn {
                display: inherit;
            }
        }

        .macro
        .albums {
            &__card {
                max-width: 70vw;
                width: 70vw;
                max-height: 40vh;
                padding: 20px;
                margin-right: 0;
                margin-inline: auto;
            }
        }

        .winter
        .albums {
            &__card {
                max-width: 70vw;
                width: 70vw;
                max-height: 40vh;
                padding: 20px;
                margin-right: 0;
                margin-inline: auto;
            }
        }

        .footer {
            justify-content: center;
            padding-right: 0;
        }
    }